
body {
    background-image: url("image/bg.jpg");
    background-color: #cccccc;
    background-position: center;
}

.container{
    margin: 45px;
    background-color:azure;
    opacity: 98%;
    
    position: relative;
    text-align: left;
}

.reg-validation{
    width: 900px;
    margin: auto;
}


